html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  --gap: 12px;
  font-family: "Poppin", sans-serif;
  img {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
  }
  input {
    display: none;
  }

  .hint {
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 40px;
    h1 {
      text-transform: uppercase;
    }
  }

  .book {
    background-color: #2e3537;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .book-content {
      width: 350px;
      height: 450px;
      position: relative;
      transition-duration: 1s;
      perspective: 2500;
      margin: auto;
      .cover,
      .back-cover {
        background-color: #bf754b;
        width: 100%;
        height: 100%;
        border-radius: 0 15px 15px 0;
        box-shadow: 0 0 5px rgb(41, 41, 41);
        display: flex;
        align-items: center;
        justify-content: center;
        transform-origin: center left;
      }
      .cover {
        position: absolute;
        z-index: 6;
        transition: transform 1s;
        label {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
      .back-cover {
        position: relative;
        z-index: -1;
      }
      .page {
        position: absolute;
        background-color: white;
        width: 330px;
        height: 430px;
        border-radius: 0 15px 15px 0;
        margin-top: 10px;
        transform-origin: left;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        transition-duration: 1.5s;
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px 0 0 15px;
        }
        .front-page {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          box-sizing: border-box;
          padding: 1rem;
        }
        .back-page {
          transform: rotateY(180deg);
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          z-index: 99;
        }
        .next,
        .prev {
          position: absolute;
          bottom: 1em;
          cursor: pointer;
        }
        .next {
          right: 1em;
        }
        .prev {
          left: 1em;
        }
      }
    }
    #page1 {
      z-index: 5;
    }
    #page2 {
      z-index: 4;
    }
    #page3 {
      z-index: 3;
    }
    #page4 {
      z-index: 2;
    }
    #page5 {
      z-index: 1;
    }

    #checkbox-cover:checked ~ .book-content {
      transform: translateX(200px);
    }
    #checkbox-cover:checked ~ .book-content .cover {
      transition: transform 1.5s, z-index 0.5s 0.5s;
      transform: rotateY(-180deg);
      z-index: 1;
    }
    #checkbox-cover:checked ~ .book-content .page {
      box-shadow: 0 0 3px rgb(99, 98, 98);
    }
    #checkbox-page1:checked ~ .book-content #page1 {
      transform: rotateY(-180deg);
      z-index: 2;
    }
    #checkbox-page2:checked ~ .book-content #page2 {
      transform: rotateY(-180deg);
      z-index: 3;
    }
    #checkbox-page3:checked ~ .book-content #page3 {
      transform: rotateY(-180deg);
      z-index: 4;
    }
    #checkbox-page4:checked ~ .book-content #page4 {
      transform: rotateY(-180deg);
      z-index: 5;
    }
  }

  .btn-scroll-down {
    width: 30px;
    height: 50px;
    border: 2px solid white;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid white;
      height: 10px;
      width: 10px;
      transform: translate(-50%, -100%) rotate(45deg);
      border-top: transparent;
      border-left: transparent;
      animation: scroll-down 1s ease-in-out infinite;
    }
    &:after {
      top: 30%;
      animation-delay: 0.3s;
    }
  }

  #gallery {
    padding: 32px;
    text-align: center;
  }

  .gallery {
    column-count: 6;
    column-gap: var(--gap);
    &--item {
      position: relative;
      border-radius: 8px;
      margin: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: var(--gap);
      break-inside: avoid;
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
      img {
        grid-row: 1 / -1;
        grid-column: 1;
      }
      figcaption {
        text-align: center;
        font-size: 14px;
        margin-top: 6px;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.2em 0.5em;
      }
    }
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 80%;
  }
}
